In [157]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt
import os 
os.chdir(r'E:\before machine\pandas  Crash Course\pythonProject2\titanic')

In [166]:
def read_data(file_path, file_format='csv'):
    """
    Read data from different file formats such as CSV, Excel, or JSON.

    Parameters:
    - file_path (str): The path to the file.
    - file_format (str): The format of the file (default is 'csv').

    Returns:
    - pd.DataFrame: The loaded dataset.
    """
    supported_formats = ['csv', 'excel', 'json']
    if file_format.lower() not in supported_formats:
        raise ValueError(f"Unsupported file format. Supported formats: {', '.join(supported_formats)}.")

    if file_format == 'csv':
        return pd.read_csv(file_path)
    elif file_format == 'excel':
        return pd.read_excel(file_path)
    elif file_format == 'json':
        return pd.read_json(file_path)

def drop_columns(data):
    print('wtite the columns to be droped: ')
    droped_columns=[]
    while True:
        droped_column = input('Write the column names you want to drop from the data. If you finish, press q: ')
        
        if droped_column == 'q':
            break
        droped_columns.append(droped_column)
    return data.drop(columns=droped_columns, axis=1)
    
    
def statical_summary(data):
    print(data.head())
    print("##################Describeing the Data#################")
    print(data.describe())
    print("##################Columns in the Data#################")
    print(data.columns)
    
    
    
    print("##################Grouping the data by spacific columns#################")
    column_list = []
    showed_columns=[]
    while True:
        grouped_column = input('Write the column names you want to group the data with. If you finish, press q: ')
        
        
        if grouped_column == 'q':
            while True:
                showed_column = input('Write the column name to be ((###show the grouped data with###))(if you finsh press q to exist): ')
                if showed_column == 'q':
                    break
                showed_columns.append(showed_column)
            break
        column_list.append(grouped_column)
        
    # Grouping the data with the specified columns
    grouped_data = data.groupby(column_list)[showed_columns]
    
    # Printing each group
    for group_name, group_data in grouped_data:
        print(f"Group: {group_name}")
        print(group_data.mean())
        print("\n")
    
    
    
    print("##################Counting number of values in  specific columns#################")
    value_counts_list=[]
    print("write the columns you want to count it's values: ")
    while True:
        grouped_columns=input('write the columns to be Counted if you finsh press q ')
        if grouped_columns=='q':
            break
        value_counts_list.append(grouped_columns)
    print('Counting the data with the written columns ')
    for column in value_counts_list:
        print(data[column].value_counts())
        

def Handeling_missing_values(data):
    print('num of null in the data given : ')
    print(data.isnull().sum())
    
     # Separate numerical and categorical columns
    numerical_columns = data.select_dtypes(include=['number']).columns
    categorical_columns = data.select_dtypes(exclude=['number']).columns
    
    # Fill null values with mean for numerical columns
    for col in numerical_columns:
        if data[col].isnull().any():
            data[col].fillna(data[col].mean(), inplace=True)
    
    # Fill null values with median for categorical columns
    for col in categorical_columns:
        if data[col].isnull().any():
            data[col].fillna(data[col].mode()[0], inplace=True)

    print('After filling null values:')
    print(data.isnull().sum())

    
def Categorical_Data_Encoding(data):
    
    # Initialize LabelEncoder and OneHotEncoder
    label_enc = LabelEncoder()
    onehot_enc = OneHotEncoder(drop='first', sparse=False)  # Drop first to avoid dummy variable trap

    # Separate numerical and categorical columns
    categorical_columns = data.select_dtypes(exclude=['number']).columns

    # Encode categorical columns using LabelEncoder
    for col in categorical_columns:
        if data[col].nunique() > 2:  # Use LabelEncoder for binary categorical columns
            data[col] = label_enc.fit_transform(data[col])
    
    # Apply OneHotEncoder to categorical columns with more than 2 unique values
    data_encoded = pd.get_dummies(data, columns=categorical_columns, drop_first=True)
    
    return data_encoded

In [159]:
print('write the path of the file and the format:like file_path=train.csv,format=csv')

file_path=input('enter the file path')
Format=input('enter the format')
df=read_data(file_path,Format)

write the path of the file and the format:like file_path=train.csv,format=csv
enter the file pathtrain.csv
enter the formatcsv

In [160]:
print(df.columns)
df=drop_columns(df)
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
wtite the columns to be droped:
Write the column names you want to drop from the data. If you finish, press q: PassengerId
Write the column names you want to drop from the data. If you finish, press q: Name
Write the column names you want to drop from the data. If you finish, press q: Ticket
Write the column names you want to drop from the data. If you finish, press q: Cabin
Write the column names you want to drop from the data. If you finish, press q: q
Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [161]:
Handeling_missing_values(df)

num of null in the data given :
Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64
After filling null values:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [164]:
df=Categorical_Data_Encoding(df)
df.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Sex_male_True_True', 'Embarked_1_True_True', 'Embarked_2_True_True'],
      dtype='object')

In [165]:
statical_summary(df)

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male_True_True  \
0         0       3  22.0      1      0   7.2500                True
1         1       1  38.0      1      0  71.2833               False
2         1       3  26.0      0      0   7.9250               False
3         1       1  35.0      1      0  53.1000               False
4         0       3  35.0      0      0   8.0500                True

   Embarked_1_True_True  Embarked_2_True_True
0                 False                  True
1                 False                 False
2                 False                  True
3                 False                  True
4                 False                  True
##################Describeing the Data#################
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.002015    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
##################Columns in the Data#################
Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Sex_male_True_True', 'Embarked_1_True_True', 'Embarked_2_True_True'],
      dtype='object')
##################Grouping the data by spacific columns#################
Write the column names you want to group the data with. If you finish, press q: Age
Write the column names you want to group the data with. If you finish, press q: Survived
Write the column names you want to group the data with. If you finish, press q: q
Write the column name to be show the grouped data with(if you finsh press q to exist): Survived
Write the column name to be show the grouped data with(if you finsh press q to exist): q
Group: (0.42, 1)
Survived    1.0
dtype: float64


Group: (0.67, 1)
Survived    1.0
dtype: float64


Group: (0.75, 1)
Survived    1.0
dtype: float64


Group: (0.83, 1)
Survived    1.0
dtype: float64


Group: (0.92, 1)
Survived    1.0
dtype: float64


Group: (1.0, 0)
Survived    0.0
dtype: float64


Group: (1.0, 1)
Survived    1.0
dtype: float64


Group: (2.0, 0)
Survived    0.0
dtype: float64


Group: (2.0, 1)
Survived    1.0
dtype: float64


Group: (3.0, 0)
Survived    0.0
dtype: float64


Group: (3.0, 1)
Survived    1.0
dtype: float64


Group: (4.0, 0)
Survived    0.0
dtype: float64


Group: (4.0, 1)
Survived    1.0
dtype: float64


Group: (5.0, 1)
Survived    1.0
dtype: float64


Group: (6.0, 0)
Survived    0.0
dtype: float64


Group: (6.0, 1)
Survived    1.0
dtype: float64


Group: (7.0, 0)
Survived    0.0
dtype: float64


Group: (7.0, 1)
Survived    1.0
dtype: float64


Group: (8.0, 0)
Survived    0.0
dtype: float64


Group: (8.0, 1)
Survived    1.0
dtype: float64


Group: (9.0, 0)
Survived    0.0
dtype: float64


Group: (9.0, 1)
Survived    1.0
dtype: float64


Group: (10.0, 0)
Survived    0.0
dtype: float64


Group: (11.0, 0)
Survived    0.0
dtype: float64


Group: (11.0, 1)
Survived    1.0
dtype: float64


Group: (12.0, 1)
Survived    1.0
dtype: float64


Group: (13.0, 1)
Survived    1.0
dtype: float64


Group: (14.0, 0)
Survived    0.0
dtype: float64


Group: (14.0, 1)
Survived    1.0
dtype: float64


Group: (14.5, 0)
Survived    0.0
dtype: float64


Group: (15.0, 0)
Survived    0.0
dtype: float64


Group: (15.0, 1)
Survived    1.0
dtype: float64


Group: (16.0, 0)
Survived    0.0
dtype: float64


Group: (16.0, 1)
Survived    1.0
dtype: float64


Group: (17.0, 0)
Survived    0.0
dtype: float64


Group: (17.0, 1)
Survived    1.0
dtype: float64


Group: (18.0, 0)
Survived    0.0
dtype: float64


Group: (18.0, 1)
Survived    1.0
dtype: float64


Group: (19.0, 0)
Survived    0.0
dtype: float64


Group: (19.0, 1)
Survived    1.0
dtype: float64


Group: (20.0, 0)
Survived    0.0
dtype: float64


Group: (20.0, 1)
Survived    1.0
dtype: float64


Group: (20.5, 0)
Survived    0.0
dtype: float64


Group: (21.0, 0)
Survived    0.0
dtype: float64


Group: (21.0, 1)
Survived    1.0
dtype: float64


Group: (22.0, 0)
Survived    0.0
dtype: float64


Group: (22.0, 1)
Survived    1.0
dtype: float64


Group: (23.0, 0)
Survived    0.0
dtype: float64


Group: (23.0, 1)
Survived    1.0
dtype: float64


Group: (23.5, 0)
Survived    0.0
dtype: float64


Group: (24.0, 0)
Survived    0.0
dtype: float64


Group: (24.0, 1)
Survived    1.0
dtype: float64


Group: (24.5, 0)
Survived    0.0
dtype: float64


Group: (25.0, 0)
Survived    0.0
dtype: float64


Group: (25.0, 1)
Survived    1.0
dtype: float64


Group: (26.0, 0)
Survived    0.0
dtype: float64


Group: (26.0, 1)
Survived    1.0
dtype: float64


Group: (27.0, 0)
Survived    0.0
dtype: float64


Group: (27.0, 1)
Survived    1.0
dtype: float64


Group: (28.0, 0)
Survived    0.0
dtype: float64


Group: (28.0, 1)
Survived    1.0
dtype: float64


Group: (28.5, 0)
Survived    0.0
dtype: float64


Group: (29.0, 0)
Survived    0.0
dtype: float64


Group: (29.0, 1)
Survived    1.0
dtype: float64


Group: (29.69911764705882, 0)
Survived    0.0
dtype: float64


Group: (29.69911764705882, 1)
Survived    1.0
dtype: float64


Group: (30.0, 0)
Survived    0.0
dtype: float64


Group: (30.0, 1)
Survived    1.0
dtype: float64


Group: (30.5, 0)
Survived    0.0
dtype: float64


Group: (31.0, 0)
Survived    0.0
dtype: float64


Group: (31.0, 1)
Survived    1.0
dtype: float64


Group: (32.0, 0)
Survived    0.0
dtype: float64


Group: (32.0, 1)
Survived    1.0
dtype: float64


Group: (32.5, 0)
Survived    0.0
dtype: float64


Group: (32.5, 1)
Survived    1.0
dtype: float64


Group: (33.0, 0)
Survived    0.0
dtype: float64


Group: (33.0, 1)
Survived    1.0
dtype: float64


Group: (34.0, 0)
Survived    0.0
dtype: float64


Group: (34.0, 1)
Survived    1.0
dtype: float64


Group: (34.5, 0)
Survived    0.0
dtype: float64


Group: (35.0, 0)
Survived    0.0
dtype: float64


Group: (35.0, 1)
Survived    1.0
dtype: float64


Group: (36.0, 0)
Survived    0.0
dtype: float64


Group: (36.0, 1)
Survived    1.0
dtype: float64


Group: (36.5, 0)
Survived    0.0
dtype: float64


Group: (37.0, 0)
Survived    0.0
dtype: float64


Group: (37.0, 1)
Survived    1.0
dtype: float64


Group: (38.0, 0)
Survived    0.0
dtype: float64


Group: (38.0, 1)
Survived    1.0
dtype: float64


Group: (39.0, 0)
Survived    0.0
dtype: float64


Group: (39.0, 1)
Survived    1.0
dtype: float64


Group: (40.0, 0)
Survived    0.0
dtype: float64


Group: (40.0, 1)
Survived    1.0
dtype: float64


Group: (40.5, 0)
Survived    0.0
dtype: float64


Group: (41.0, 0)
Survived    0.0
dtype: float64


Group: (41.0, 1)
Survived    1.0
dtype: float64


Group: (42.0, 0)
Survived    0.0
dtype: float64


Group: (42.0, 1)
Survived    1.0
dtype: float64


Group: (43.0, 0)
Survived    0.0
dtype: float64


Group: (43.0, 1)
Survived    1.0
dtype: float64


Group: (44.0, 0)
Survived    0.0
dtype: float64


Group: (44.0, 1)
Survived    1.0
dtype: float64


Group: (45.0, 0)
Survived    0.0
dtype: float64


Group: (45.0, 1)
Survived    1.0
dtype: float64


Group: (45.5, 0)
Survived    0.0
dtype: float64


Group: (46.0, 0)
Survived    0.0
dtype: float64


Group: (47.0, 0)
Survived    0.0
dtype: float64


Group: (47.0, 1)
Survived    1.0
dtype: float64


Group: (48.0, 0)
Survived    0.0
dtype: float64


Group: (48.0, 1)
Survived    1.0
dtype: float64


Group: (49.0, 0)
Survived    0.0
dtype: float64


Group: (49.0, 1)
Survived    1.0
dtype: float64


Group: (50.0, 0)
Survived    0.0
dtype: float64


Group: (50.0, 1)
Survived    1.0
dtype: float64


Group: (51.0, 0)
Survived    0.0
dtype: float64


Group: (51.0, 1)
Survived    1.0
dtype: float64


Group: (52.0, 0)
Survived    0.0
dtype: float64


Group: (52.0, 1)
Survived    1.0
dtype: float64


Group: (53.0, 1)
Survived    1.0
dtype: float64


Group: (54.0, 0)
Survived    0.0
dtype: float64


Group: (54.0, 1)
Survived    1.0
dtype: float64


Group: (55.0, 0)
Survived    0.0
dtype: float64


Group: (55.0, 1)
Survived    1.0
dtype: float64


Group: (55.5, 0)
Survived    0.0
dtype: float64


Group: (56.0, 0)
Survived    0.0
dtype: float64


Group: (56.0, 1)
Survived    1.0
dtype: float64


Group: (57.0, 0)
Survived    0.0
dtype: float64


Group: (58.0, 0)
Survived    0.0
dtype: float64


Group: (58.0, 1)
Survived    1.0
dtype: float64


Group: (59.0, 0)
Survived    0.0
dtype: float64


Group: (60.0, 0)
Survived    0.0
dtype: float64


Group: (60.0, 1)
Survived    1.0
dtype: float64


Group: (61.0, 0)
Survived    0.0
dtype: float64


Group: (62.0, 0)
Survived    0.0
dtype: float64


Group: (62.0, 1)
Survived    1.0
dtype: float64


Group: (63.0, 1)
Survived    1.0
dtype: float64


Group: (64.0, 0)
Survived    0.0
dtype: float64


Group: (65.0, 0)
Survived    0.0
dtype: float64


Group: (66.0, 0)
Survived    0.0
dtype: float64


Group: (70.0, 0)
Survived    0.0
dtype: float64


Group: (70.5, 0)
Survived    0.0
dtype: float64


Group: (71.0, 0)
Survived    0.0
dtype: float64


Group: (74.0, 0)
Survived    0.0
dtype: float64


Group: (80.0, 1)
Survived    1.0
dtype: float64


##################Counting number of values in  specific columns#################
write the columns you want to count it's values:
write the columns to be Counted if you finsh press q Survived
write the columns to be Counted if you finsh press q Pclass
write the columns to be Counted if you finsh press q q
Counting the data with the written columns
Survived
0    549
1    342
Name: count, dtype: int64
Pclass
3    491
1    216
2    184
Name: count, dtype: int64