In [83]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt
import os 
#os.chdir(r'E:\before machine\pandas  Crash Course\pythonProject2\titanic')

In [84]:
class Statical_functions():
    def __init__(self):
        pass
    
    def read_data(self):
        
        """
        Read data from different file formats such as CSV, Excel, or JSON.

        Returns:
        - pd.DataFrame: The loaded dataset.
        """
        file_path = input("Please enter the path to the data file: ")
        file_extension = os.path.splitext(file_path)[1].lower()[1:]

        if file_extension == 'csv':
            return pd.read_csv(file_path)
        elif file_extension in ['xls', 'xlsx']:
            return pd.read_excel(file_path)
        elif file_extension == 'json':
            return pd.read_json(file_path)
        else:
            raise ValueError(f"Unsupported file format. Supported formats: CSV, Excel, JSON.")
    
    
    def drop_columns(self,data):
        print('wtite the columns to be droped: ')
        droped_columns=[]
        while True:
            droped_column = input('Write the column names you want to drop from the data. If you finish, press q: ')
        
            if droped_column == 'q':
                break
            droped_columns.append(droped_column)
        return data.drop(columns=droped_columns, axis=1)
    
    def statical_summary(self,data):
        print(data.head())
        print("##################Describeing the Data#################")
        print(data.describe())
        print("##################Columns in the Data#################")
        print(data.columns)
    
    
    
        print("##################Grouping the data by spacific columns#################")
        column_list = []
        showed_columns=[]
        while True:
            grouped_column = input('Write the column names you want to group the data with. If you finish, press q: ')
        
        
            if grouped_column == 'q':
                while True:
                    showed_column = input('Write the column name to be ((###show the grouped data with###))(if you finsh press q to exist): ')
                    if showed_column == 'q':
                        break
                    showed_columns.append(showed_column)
                break
            column_list.append(grouped_column)
        
        # Grouping the data with the specified columns
        grouped_data = data.groupby(column_list)[showed_columns]
    
        # Printing each group
        for group_name, group_data in grouped_data:
            print(f"Group: {group_name}")
            print(group_data.mean())
            print("\n")
    
    
    
        print("##################Counting number of values in  specific columns#################")
        value_counts_list=[]
        print("write the columns you want to count it's values: ")
        while True:
            grouped_columns=input('write the columns to be Counted if you finsh press q ')
            if grouped_columns=='q':
                break
            value_counts_list.append(grouped_columns)
        print('Counting the data with the written columns ')
        for column in value_counts_list:
            print(data[column].value_counts())

    def Handeling_missing_values(self,data):
        print('num of null in the data given : ')
        print(data.isnull().sum())
    
         # Separate numerical and categorical columns
        numerical_columns = data.select_dtypes(include=['number']).columns
        categorical_columns = data.select_dtypes(exclude=['number']).columns
    
        # Fill null values with mean for numerical columns
        for col in numerical_columns:
            if data[col].isnull().any():
                data[col].fillna(data[col].mean(), inplace=True)
    
        # Fill null values with median for categorical columns
        for col in categorical_columns:
            if data[col].isnull().any():
                data[col].fillna(data[col].mode()[0], inplace=True)

        print('After filling null values:')
        print(data.isnull().sum())

    
    def Categorical_Data_Encoding(self,data):
    
        # Initialize LabelEncoder and OneHotEncoder
        label_enc = LabelEncoder()
        onehot_enc = OneHotEncoder(drop='first', sparse=False)  # Drop first to avoid dummy variable trap

        # Separate numerical and categorical columns
        categorical_columns = data.select_dtypes(exclude=['number']).columns

        # Encode categorical columns using LabelEncoder
        for col in categorical_columns:
            if data[col].nunique() > 2:  # Use LabelEncoder for binary categorical columns
                data[col] = label_enc.fit_transform(data[col])
        
        # Apply OneHotEncoder to categorical columns with more than 2 unique values
        data_encoded = pd.get_dummies(data, columns=categorical_columns, drop_first=True)
    
        return data_encoded

In [85]:
data=Statical_functions()

In [86]:
df=data.read_data()

Please enter the path to the data file: train.csv

In [87]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [88]:
df=data.drop_columns(df)

wtite the columns to be droped:
Write the column names you want to drop from the data. If you finish, press q: PassengerId
Write the column names you want to drop from the data. If you finish, press q: Name
Write the column names you want to drop from the data. If you finish, press q: Ticket
Write the column names you want to drop from the data. If you finish, press q: Cabin
Write the column names you want to drop from the data. If you finish, press q: q

In [89]:
df=data.Categorical_Data_Encoding(df)

In [90]:
df.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_male',
       'Embarked_1', 'Embarked_2', 'Embarked_3'],
      dtype='object')

In [91]:
data.statical_summary(df)

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_1  \
0         0       3  22.0      1      0   7.2500      True       False
1         1       1  38.0      1      0  71.2833     False       False
2         1       3  26.0      0      0   7.9250     False       False
3         1       1  35.0      1      0  53.1000     False       False
4         0       3  35.0      0      0   8.0500      True       False

   Embarked_2  Embarked_3
0        True       False
1       False       False
2        True       False
3        True       False
4        True       False
##################Describeing the Data#################
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
##################Columns in the Data#################
Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_male',
       'Embarked_1', 'Embarked_2', 'Embarked_3'],
      dtype='object')
##################Grouping the data by spacific columns#################
Write the column names you want to group the data with. If you finish, press q: Survived
Write the column names you want to group the data with. If you finish, press q: Age
Write the column names you want to group the data with. If you finish, press q: q
Write the column name to be ((###show the grouped data with###))(if you finsh press q to exist): Pclass
Write the column name to be ((###show the grouped data with###))(if you finsh press q to exist): q
Group: (0, 1.0)
Pclass    3.0
dtype: float64


Group: (0, 2.0)
Pclass    2.714286
dtype: float64


Group: (0, 3.0)
Pclass    3.0
dtype: float64


Group: (0, 4.0)
Pclass    3.0
dtype: float64


Group: (0, 6.0)
Pclass    3.0
dtype: float64


Group: (0, 7.0)
Pclass    3.0
dtype: float64


Group: (0, 8.0)
Pclass    3.0
dtype: float64


Group: (0, 9.0)
Pclass    3.0
dtype: float64


Group: (0, 10.0)
Pclass    3.0
dtype: float64


Group: (0, 11.0)
Pclass    3.0
dtype: float64


Group: (0, 14.0)
Pclass    3.0
dtype: float64


Group: (0, 14.5)
Pclass    3.0
dtype: float64


Group: (0, 15.0)
Pclass    3.0
dtype: float64


Group: (0, 16.0)
Pclass    2.818182
dtype: float64


Group: (0, 17.0)
Pclass    3.0
dtype: float64


Group: (0, 18.0)
Pclass    2.647059
dtype: float64


Group: (0, 19.0)
Pclass    2.5625
dtype: float64


Group: (0, 20.0)
Pclass    3.0
dtype: float64


Group: (0, 20.5)
Pclass    3.0
dtype: float64


Group: (0, 21.0)
Pclass    2.736842
dtype: float64


Group: (0, 22.0)
Pclass    2.875
dtype: float64


Group: (0, 23.0)
Pclass    2.4
dtype: float64


Group: (0, 23.5)
Pclass    3.0
dtype: float64


Group: (0, 24.0)
Pclass    2.466667
dtype: float64


Group: (0, 24.5)
Pclass    3.0
dtype: float64


Group: (0, 25.0)
Pclass    2.588235
dtype: float64


Group: (0, 26.0)
Pclass    2.833333
dtype: float64


Group: (0, 27.0)
Pclass    2.142857
dtype: float64


Group: (0, 28.0)
Pclass    2.555556
dtype: float64


Group: (0, 28.5)
Pclass    3.0
dtype: float64


Group: (0, 29.0)
Pclass    2.416667
dtype: float64


Group: (0, 30.0)
Pclass    2.533333
dtype: float64


Group: (0, 30.5)
Pclass    3.0
dtype: float64


Group: (0, 31.0)
Pclass    2.222222
dtype: float64


Group: (0, 32.0)
Pclass    2.777778
dtype: float64


Group: (0, 32.5)
Pclass    2.0
dtype: float64


Group: (0, 33.0)
Pclass    2.666667
dtype: float64


Group: (0, 34.0)
Pclass    2.444444
dtype: float64


Group: (0, 34.5)
Pclass    3.0
dtype: float64


Group: (0, 35.0)
Pclass    2.714286
dtype: float64


Group: (0, 36.0)
Pclass    2.272727
dtype: float64


Group: (0, 36.5)
Pclass    2.0
dtype: float64


Group: (0, 37.0)
Pclass    2.0
dtype: float64


Group: (0, 38.0)
Pclass    2.166667
dtype: float64


Group: (0, 39.0)
Pclass    2.444444
dtype: float64


Group: (0, 40.0)
Pclass    2.428571
dtype: float64


Group: (0, 40.5)
Pclass    3.0
dtype: float64


Group: (0, 41.0)
Pclass    3.0
dtype: float64


Group: (0, 42.0)
Pclass    2.428571
dtype: float64


Group: (0, 43.0)
Pclass    2.75
dtype: float64


Group: (0, 44.0)
Pclass    2.333333
dtype: float64


Group: (0, 45.0)
Pclass    2.142857
dtype: float64


Group: (0, 45.5)
Pclass    2.0
dtype: float64


Group: (0, 46.0)
Pclass    1.333333
dtype: float64


Group: (0, 47.0)
Pclass    1.875
dtype: float64


Group: (0, 48.0)
Pclass    2.666667
dtype: float64


Group: (0, 49.0)
Pclass    2.0
dtype: float64


Group: (0, 50.0)
Pclass    1.6
dtype: float64


Group: (0, 51.0)
Pclass    2.4
dtype: float64


Group: (0, 52.0)
Pclass    1.666667
dtype: float64


Group: (0, 54.0)
Pclass    1.6
dtype: float64


Group: (0, 55.0)
Pclass    1.0
dtype: float64


Group: (0, 55.5)
Pclass    3.0
dtype: float64


Group: (0, 56.0)
Pclass    1.0
dtype: float64


Group: (0, 57.0)
Pclass    2.0
dtype: float64


Group: (0, 58.0)
Pclass    1.0
dtype: float64


Group: (0, 59.0)
Pclass    2.5
dtype: float64


Group: (0, 60.0)
Pclass    1.5
dtype: float64


Group: (0, 61.0)
Pclass    1.666667
dtype: float64


Group: (0, 62.0)
Pclass    1.0
dtype: float64


Group: (0, 64.0)
Pclass    1.0
dtype: float64


Group: (0, 65.0)
Pclass    1.666667
dtype: float64


Group: (0, 66.0)
Pclass    2.0
dtype: float64


Group: (0, 70.0)
Pclass    1.5
dtype: float64


Group: (0, 70.5)
Pclass    3.0
dtype: float64


Group: (0, 71.0)
Pclass    1.0
dtype: float64


Group: (0, 74.0)
Pclass    3.0
dtype: float64


Group: (1, 0.42)
Pclass    3.0
dtype: float64


Group: (1, 0.67)
Pclass    2.0
dtype: float64


Group: (1, 0.75)
Pclass    3.0
dtype: float64


Group: (1, 0.83)
Pclass    2.0
dtype: float64


Group: (1, 0.92)
Pclass    1.0
dtype: float64


Group: (1, 1.0)
Pclass    2.6
dtype: float64


Group: (1, 2.0)
Pclass    2.333333
dtype: float64


Group: (1, 3.0)
Pclass    2.4
dtype: float64


Group: (1, 4.0)
Pclass    2.428571
dtype: float64


Group: (1, 5.0)
Pclass    2.75
dtype: float64


Group: (1, 6.0)
Pclass    2.5
dtype: float64


Group: (1, 7.0)
Pclass    2.0
dtype: float64


Group: (1, 8.0)
Pclass    2.0
dtype: float64


Group: (1, 9.0)
Pclass    3.0
dtype: float64


Group: (1, 11.0)
Pclass    1.0
dtype: float64


Group: (1, 12.0)
Pclass    3.0
dtype: float64


Group: (1, 13.0)
Pclass    2.5
dtype: float64


Group: (1, 14.0)
Pclass    2.0
dtype: float64


Group: (1, 15.0)
Pclass    2.5
dtype: float64


Group: (1, 16.0)
Pclass    2.0
dtype: float64


Group: (1, 17.0)
Pclass    1.666667
dtype: float64


Group: (1, 18.0)
Pclass    2.111111
dtype: float64


Group: (1, 19.0)
Pclass    2.0
dtype: float64


Group: (1, 20.0)
Pclass    3.0
dtype: float64


Group: (1, 21.0)
Pclass    2.0
dtype: float64


Group: (1, 22.0)
Pclass    2.090909
dtype: float64


Group: (1, 23.0)
Pclass    1.6
dtype: float64


Group: (1, 24.0)
Pclass    1.933333
dtype: float64


Group: (1, 25.0)
Pclass    2.0
dtype: float64


Group: (1, 26.0)
Pclass    2.333333
dtype: float64


Group: (1, 27.0)
Pclass    2.272727
dtype: float64


Group: (1, 28.0)
Pclass    1.714286
dtype: float64


Group: (1, 29.0)
Pclass    2.375
dtype: float64


Group: (1, 30.0)
Pclass    1.7
dtype: float64


Group: (1, 31.0)
Pclass    2.0
dtype: float64


Group: (1, 32.0)
Pclass    2.333333
dtype: float64


Group: (1, 32.5)
Pclass    2.0
dtype: float64


Group: (1, 33.0)
Pclass    1.666667
dtype: float64


Group: (1, 34.0)
Pclass    1.833333
dtype: float64


Group: (1, 35.0)
Pclass    1.272727
dtype: float64


Group: (1, 36.0)
Pclass    1.454545
dtype: float64


Group: (1, 37.0)
Pclass    1.0
dtype: float64


Group: (1, 38.0)
Pclass    1.4
dtype: float64


Group: (1, 39.0)
Pclass    1.4
dtype: float64


Group: (1, 40.0)
Pclass    1.5
dtype: float64


Group: (1, 41.0)
Pclass    1.5
dtype: float64


Group: (1, 42.0)
Pclass    1.5
dtype: float64


Group: (1, 43.0)
Pclass    1.0
dtype: float64


Group: (1, 44.0)
Pclass    1.666667
dtype: float64


Group: (1, 45.0)
Pclass    1.8
dtype: float64


Group: (1, 47.0)
Pclass    1.0
dtype: float64


Group: (1, 48.0)
Pclass    1.166667
dtype: float64


Group: (1, 49.0)
Pclass    1.0
dtype: float64


Group: (1, 50.0)
Pclass    1.6
dtype: float64


Group: (1, 51.0)
Pclass    1.0
dtype: float64


Group: (1, 52.0)
Pclass    1.0
dtype: float64


Group: (1, 53.0)
Pclass    1.0
dtype: float64


Group: (1, 54.0)
Pclass    1.333333
dtype: float64


Group: (1, 55.0)
Pclass    2.0
dtype: float64


Group: (1, 56.0)
Pclass    1.0
dtype: float64


Group: (1, 58.0)
Pclass    1.0
dtype: float64


Group: (1, 60.0)
Pclass    1.0
dtype: float64


Group: (1, 62.0)
Pclass    1.5
dtype: float64


Group: (1, 63.0)
Pclass    2.0
dtype: float64


Group: (1, 80.0)
Pclass    1.0
dtype: float64


##################Counting number of values in  specific columns#################
write the columns you want to count it's values:
write the columns to be Counted if you finsh press q Pclass
write the columns to be Counted if you finsh press q q
Counting the data with the written columns
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [92]:
data.Handeling_missing_values(df)

num of null in the data given :
Survived        0
Pclass          0
Age           177
SibSp           0
Parch           0
Fare            0
Sex_male        0
Embarked_1      0
Embarked_2      0
Embarked_3      0
dtype: int64
After filling null values:
Survived      0
Pclass        0
Age           0
SibSp         0
Parch         0
Fare          0
Sex_male      0
Embarked_1    0
Embarked_2    0
Embarked_3    0
dtype: int64